@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

$padding-small: 50px 0px;  
$padding-section: 0 100px;
$padding-baner: 50px 100px;
$padding-large: 1rem;
$padding-vertical: 1rem 0; 
$padding-horizontal: 0 1rem;

$logo-green: rgb(4, 231, 4);
$logo-gray: rgb(212, 212, 212);
$color-black: black;
$color-white: white;
$banner-color: rgba(0, 0, 0, 0.7);
$background-color-hover: rgba(0, 0, 0, 1);